@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Regular.eot");
  src: url("../fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Regular.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Black.eot");
  src: url("../fonts/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Black.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Black.woff") format("woff"), url("../fonts/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Bold.eot");
  src: url("../fonts/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Bold.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Medium.eot");
  src: url("../fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Medium.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Medium.woff") format("woff"), url("../fonts/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

* {
  box-sizing: border-box; }

html, body {
  width: 100vw;
  height: 100vh; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #A4A4A4;
  background-color: #113E52; }
  body {
    font-size: 12px; }
    @media screen and (min-width: 300px) {
      body {
        font-size: calc(12px + 3 * ((100vw - 300px) / 692)); } }
    @media screen and (min-width: 992px) {
      body {
        font-size: 15px; } }

.header-xl,
.header-lg,
.header-md,
.header-sm {
  font-family: "Brandon Grotesque", sans-serif;
  line-height: 0.95;
  margin: 0; }

.header-xl {
  font-size: 26px; }
  @media screen and (min-width: 300px) {
    .header-xl {
      font-size: calc(26px + 44 * ((100vw - 300px) / 692)); } }
  @media screen and (min-width: 992px) {
    .header-xl {
      font-size: 70px; } }

.header-xl {
  letter-spacing: -0.5px; }
  @media screen and (min-width: 300px) {
    .header-xl {
      letter-spacing: calc(-0.5px + -3.1 * ((100vw - 300px) / 692)); } }
  @media screen and (min-width: 992px) {
    .header-xl {
      letter-spacing: -3.6px; } }

.header-md {
  font-size: 20px; }
  @media screen and (min-width: 300px) {
    .header-md {
      font-size: calc(20px + 10 * ((100vw - 300px) / 692)); } }
  @media screen and (min-width: 992px) {
    .header-md {
      font-size: 30px; } }

.header-md {
  letter-spacing: -0.5px; }
  @media screen and (min-width: 300px) {
    .header-md {
      letter-spacing: calc(-0.5px + -0.5 * ((100vw - 300px) / 692)); } }
  @media screen and (min-width: 992px) {
    .header-md {
      letter-spacing: -1px; } }

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes slide-down-staggered {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0; }
  70% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes slide-down-staggered {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0; }
  70% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in-staggered {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-staggered {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.container {
  margin: 0 auto; }
  .container {
    width: -30px; }
    @media screen and (min-width: 0px) {
      .container {
        width: calc(-30px + 1230 * ((100vw - 0px) / 1370)); } }
    @media screen and (min-width: 1370px) {
      .container {
        width: 1200px; } }
  .container.condensed {
    width: -30px; }
    @media screen and (min-width: 0px) {
      .container.condensed {
        width: calc(-30px + 1030 * ((100vw - 0px) / 1370)); } }
    @media screen and (min-width: 1370px) {
      .container.condensed {
        width: 1000px; } }

.fixed-bg {
  background-attachment: fixed; }

.btn {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 40px;
  border-radius: 5px;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 1;
  cursor: pointer; }
  .btn::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: #000;
    z-index: -1;
    height: 0;
    opacity: 0;
    transition: 0.3s; }
  .btn:hover::before {
    height: 50%;
    opacity: .05; }
  .btn:focus::before, .btn:active::before {
    height: 100%;
    opacity: .1; }

.btn-green {
  color: #FFF;
  background-color: #03BF94; }

.btn-white {
  color: #113E52;
  background-color: #FFF; }

.btn-trans-white {
  color: #FFF;
  background-color: transparent;
  box-shadow: none;
  transition: 0.3s; }
  .btn-trans-white:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.btn-caps {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .7rem;
  letter-spacing: 0.075rem; }

.btn-md {
  height: 50px;
  padding: 0 50px; }

.btn-lg {
  height: 60px;
  padding: 0 60px; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.grid-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 50px; }
  @media (min-width: 1370px) {
    .grid.xxl-columns-1 > .grid-item {
      width: calc((100% - (50px * (1 - 1))) / 1);
      margin-left: 50px; }
      .grid.xxl-columns-1 > .grid-item:first-child, .grid.xxl-columns-1 > .grid-item:nth-child(1n+1) {
        margin-left: 0; }
      .grid.xxl-columns-1 > .grid-item:nth-child(n+2) {
        margin-top: 50px; } }
  @media (min-width: 1370px) {
    .grid.xxl-columns-2 > .grid-item {
      width: calc((100% - (50px * (2 - 1))) / 2);
      margin-left: 50px; }
      .grid.xxl-columns-2 > .grid-item:first-child, .grid.xxl-columns-2 > .grid-item:nth-child(2n+1) {
        margin-left: 0; }
      .grid.xxl-columns-2 > .grid-item:nth-child(n+3) {
        margin-top: 50px; } }
  @media (min-width: 1370px) {
    .grid.xxl-columns-3 > .grid-item {
      width: calc((100% - (50px * (3 - 1))) / 3);
      margin-left: 50px; }
      .grid.xxl-columns-3 > .grid-item:first-child, .grid.xxl-columns-3 > .grid-item:nth-child(3n+1) {
        margin-left: 0; }
      .grid.xxl-columns-3 > .grid-item:nth-child(n+4) {
        margin-top: 50px; } }
  @media (min-width: 1370px) {
    .grid.xxl-columns-4 > .grid-item {
      width: calc((100% - (50px * (4 - 1))) / 4);
      margin-left: 50px; }
      .grid.xxl-columns-4 > .grid-item:first-child, .grid.xxl-columns-4 > .grid-item:nth-child(4n+1) {
        margin-left: 0; }
      .grid.xxl-columns-4 > .grid-item:nth-child(n+5) {
        margin-top: 50px; } }
  @media (min-width: 1370px) {
    .grid.xxl-columns-5 > .grid-item {
      width: calc((100% - (50px * (5 - 1))) / 5);
      margin-left: 50px; }
      .grid.xxl-columns-5 > .grid-item:first-child, .grid.xxl-columns-5 > .grid-item:nth-child(5n+1) {
        margin-left: 0; }
      .grid.xxl-columns-5 > .grid-item:nth-child(n+6) {
        margin-top: 50px; } }
  @media (min-width: 992px) {
    .grid.lg-columns-1 > .grid-item {
      width: calc((100% - (50px * (1 - 1))) / 1);
      margin-left: 50px; }
      .grid.lg-columns-1 > .grid-item:first-child, .grid.lg-columns-1 > .grid-item:nth-child(1n+1) {
        margin-left: 0; }
      .grid.lg-columns-1 > .grid-item:nth-child(n+2) {
        margin-top: 50px; } }
  @media (min-width: 992px) {
    .grid.lg-columns-2 > .grid-item {
      width: calc((100% - (50px * (2 - 1))) / 2);
      margin-left: 50px; }
      .grid.lg-columns-2 > .grid-item:first-child, .grid.lg-columns-2 > .grid-item:nth-child(2n+1) {
        margin-left: 0; }
      .grid.lg-columns-2 > .grid-item:nth-child(n+3) {
        margin-top: 50px; } }
  @media (min-width: 992px) {
    .grid.lg-columns-3 > .grid-item {
      width: calc((100% - (50px * (3 - 1))) / 3);
      margin-left: 50px; }
      .grid.lg-columns-3 > .grid-item:first-child, .grid.lg-columns-3 > .grid-item:nth-child(3n+1) {
        margin-left: 0; }
      .grid.lg-columns-3 > .grid-item:nth-child(n+4) {
        margin-top: 50px; } }
  @media (min-width: 992px) {
    .grid.lg-columns-4 > .grid-item {
      width: calc((100% - (50px * (4 - 1))) / 4);
      margin-left: 50px; }
      .grid.lg-columns-4 > .grid-item:first-child, .grid.lg-columns-4 > .grid-item:nth-child(4n+1) {
        margin-left: 0; }
      .grid.lg-columns-4 > .grid-item:nth-child(n+5) {
        margin-top: 50px; } }
  @media (min-width: 992px) {
    .grid.lg-columns-5 > .grid-item {
      width: calc((100% - (50px * (5 - 1))) / 5);
      margin-left: 50px; }
      .grid.lg-columns-5 > .grid-item:first-child, .grid.lg-columns-5 > .grid-item:nth-child(5n+1) {
        margin-left: 0; }
      .grid.lg-columns-5 > .grid-item:nth-child(n+6) {
        margin-top: 50px; } }
  @media (min-width: 768px) {
    .grid.md-columns-1 > .grid-item {
      width: calc((100% - (50px * (1 - 1))) / 1);
      margin-left: 50px; }
      .grid.md-columns-1 > .grid-item:first-child, .grid.md-columns-1 > .grid-item:nth-child(1n+1) {
        margin-left: 0; }
      .grid.md-columns-1 > .grid-item:nth-child(n+2) {
        margin-top: 50px; } }
  @media (min-width: 768px) {
    .grid.md-columns-2 > .grid-item {
      width: calc((100% - (50px * (2 - 1))) / 2);
      margin-left: 50px; }
      .grid.md-columns-2 > .grid-item:first-child, .grid.md-columns-2 > .grid-item:nth-child(2n+1) {
        margin-left: 0; }
      .grid.md-columns-2 > .grid-item:nth-child(n+3) {
        margin-top: 50px; } }
  @media (min-width: 768px) {
    .grid.md-columns-3 > .grid-item {
      width: calc((100% - (30px * (3 - 1))) / 3);
      margin-left: 30px; }
      .grid.md-columns-3 > .grid-item:first-child, .grid.md-columns-3 > .grid-item:nth-child(3n+1) {
        margin-left: 0; }
      .grid.md-columns-3 > .grid-item:nth-child(n+4) {
        margin-top: 30px; } }
  @media (min-width: 768px) {
    .grid.md-columns-4 > .grid-item {
      width: calc((100% - (50px * (4 - 1))) / 4);
      margin-left: 50px; }
      .grid.md-columns-4 > .grid-item:first-child, .grid.md-columns-4 > .grid-item:nth-child(4n+1) {
        margin-left: 0; }
      .grid.md-columns-4 > .grid-item:nth-child(n+5) {
        margin-top: 50px; } }
  @media (min-width: 768px) {
    .grid.md-columns-5 > .grid-item {
      width: calc((100% - (50px * (5 - 1))) / 5);
      margin-left: 50px; }
      .grid.md-columns-5 > .grid-item:first-child, .grid.md-columns-5 > .grid-item:nth-child(5n+1) {
        margin-left: 0; }
      .grid.md-columns-5 > .grid-item:nth-child(n+6) {
        margin-top: 50px; } }
  @media (min-width: 544px) {
    .grid.sm-columns-1 > .grid-item {
      width: calc((100% - (50px * (1 - 1))) / 1);
      margin-left: 50px; }
      .grid.sm-columns-1 > .grid-item:first-child, .grid.sm-columns-1 > .grid-item:nth-child(1n+1) {
        margin-left: 0; }
      .grid.sm-columns-1 > .grid-item:nth-child(n+2) {
        margin-top: 50px; } }
  @media (min-width: 544px) {
    .grid.sm-columns-2 > .grid-item {
      width: calc((100% - (50px * (2 - 1))) / 2);
      margin-left: 50px; }
      .grid.sm-columns-2 > .grid-item:first-child, .grid.sm-columns-2 > .grid-item:nth-child(2n+1) {
        margin-left: 0; }
      .grid.sm-columns-2 > .grid-item:nth-child(n+3) {
        margin-top: 50px; } }
  @media (min-width: 544px) {
    .grid.sm-columns-3 > .grid-item {
      width: calc((100% - (20px * (3 - 1))) / 3);
      margin-left: 20px; }
      .grid.sm-columns-3 > .grid-item:first-child, .grid.sm-columns-3 > .grid-item:nth-child(3n+1) {
        margin-left: 0; }
      .grid.sm-columns-3 > .grid-item:nth-child(n+4) {
        margin-top: 20px; } }
  @media (min-width: 544px) {
    .grid.sm-columns-4 > .grid-item {
      width: calc((100% - (50px * (4 - 1))) / 4);
      margin-left: 50px; }
      .grid.sm-columns-4 > .grid-item:first-child, .grid.sm-columns-4 > .grid-item:nth-child(4n+1) {
        margin-left: 0; }
      .grid.sm-columns-4 > .grid-item:nth-child(n+5) {
        margin-top: 50px; } }
  @media (min-width: 544px) {
    .grid.sm-columns-5 > .grid-item {
      width: calc((100% - (50px * (5 - 1))) / 5);
      margin-left: 50px; }
      .grid.sm-columns-5 > .grid-item:first-child, .grid.sm-columns-5 > .grid-item:nth-child(5n+1) {
        margin-left: 0; }
      .grid.sm-columns-5 > .grid-item:nth-child(n+6) {
        margin-top: 50px; } }
  @media (min-width: 300px) {
    .grid.xs-columns-1 > .grid-item {
      width: calc((100% - (50px * (1 - 1))) / 1);
      margin-left: 50px; }
      .grid.xs-columns-1 > .grid-item:first-child, .grid.xs-columns-1 > .grid-item:nth-child(1n+1) {
        margin-left: 0; }
      .grid.xs-columns-1 > .grid-item:nth-child(n+2) {
        margin-top: 50px; } }
  @media (min-width: 300px) {
    .grid.xs-columns-2 > .grid-item {
      width: calc((100% - (50px * (2 - 1))) / 2);
      margin-left: 50px; }
      .grid.xs-columns-2 > .grid-item:first-child, .grid.xs-columns-2 > .grid-item:nth-child(2n+1) {
        margin-left: 0; }
      .grid.xs-columns-2 > .grid-item:nth-child(n+3) {
        margin-top: 50px; } }
  @media (min-width: 300px) {
    .grid.xs-columns-3 > .grid-item {
      width: calc((100% - (20px * (3 - 1))) / 3);
      margin-left: 20px; }
      .grid.xs-columns-3 > .grid-item:first-child, .grid.xs-columns-3 > .grid-item:nth-child(3n+1) {
        margin-left: 0; }
      .grid.xs-columns-3 > .grid-item:nth-child(n+4) {
        margin-top: 20px; } }
  @media (min-width: 300px) {
    .grid.xs-columns-4 > .grid-item {
      width: calc((100% - (50px * (4 - 1))) / 4);
      margin-left: 50px; }
      .grid.xs-columns-4 > .grid-item:first-child, .grid.xs-columns-4 > .grid-item:nth-child(4n+1) {
        margin-left: 0; }
      .grid.xs-columns-4 > .grid-item:nth-child(n+5) {
        margin-top: 50px; } }
  @media (min-width: 300px) {
    .grid.xs-columns-5 > .grid-item {
      width: calc((100% - (50px * (5 - 1))) / 5);
      margin-left: 50px; }
      .grid.xs-columns-5 > .grid-item:first-child, .grid.xs-columns-5 > .grid-item:nth-child(5n+1) {
        margin-left: 0; }
      .grid.xs-columns-5 > .grid-item:nth-child(n+6) {
        margin-top: 50px; } }

.illustrated-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 300px) and (max-width: 768px) {
    .illustrated-item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .illustrated-item .illustration {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70px;
    height: 70px;
    padding: 15px; }
    .illustrated-item .illustration .icon {
      fill: #113E52; }
  .illustrated-item .details {
    color: #113E52;
    text-align: center; }
    @media (min-width: 300px) and (max-width: 768px) {
      .illustrated-item .details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 15px;
        text-align: left; } }
  .illustrated-item .title {
    margin-top: 10px; }
  .illustrated-item .description {
    margin-top: 20px;
    font-size: 13px; }

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: 0.4s;
  -webkit-animation: slide-down 1s ease-in-out;
          animation: slide-down 1s ease-in-out; }
  .navbar > .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    transition: height 0.4s; }
  .navbar .brand .logo {
    width: 100px;
    height: 25px;
    fill: #FFF;
    position: relative;
    z-index: 100;
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }
    @media (min-width: 768px) {
      .navbar .brand .logo {
        width: 125px;
        height: 31px; } }
  .navbar .navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar .nav-burger {
    width: 50px;
    height: 50px;
    padding: 17px 15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 100; }
    @media (min-width: 992px) {
      .navbar .nav-burger {
        display: none; } }
    .navbar .nav-burger *[class^="line-"] {
      width: 100%;
      height: 2px;
      background-color: #FFF;
      border-radius: 1px;
      -webkit-transform-origin: center center;
              transform-origin: center center;
      transition: 0.4s; }
  .navbar .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    overflow: auto;
    pointer-events: none; }
    @media (min-width: 992px) {
      .navbar .mobile-nav {
        display: none; } }
    .navbar .mobile-nav::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: #113E52;
      opacity: 0;
      transition: 0.4s; }
    .navbar .mobile-nav > .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 100px 0 50px; }
    .navbar .mobile-nav .nav-link {
      font-family: "Brandon Grotesque", sans-serif;
      font-size: 1.5rem;
      font-weight: 300;
      color: #FFF;
      text-align: center;
      text-decoration: none;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 0;
      transition: 0.4s; }
      .navbar .mobile-nav .nav-link {
        font-size: 18px; }
        @media screen and (min-width: 300px) {
          .navbar .mobile-nav .nav-link {
            font-size: calc(18px + 6 * ((100vw - 300px) / 692)); } }
        @media screen and (min-width: 992px) {
          .navbar .mobile-nav .nav-link {
            font-size: 24px; } }
      .navbar .mobile-nav .nav-link {
        padding-top: 20px; }
        @media screen and (min-width: 300px) {
          .navbar .mobile-nav .nav-link {
            padding-top: calc(20px + 12 * ((100vw - 300px) / 692)); } }
        @media screen and (min-width: 992px) {
          .navbar .mobile-nav .nav-link {
            padding-top: 32px; } }
      @media (min-width: 768px) {
        .navbar .mobile-nav .nav-link {
          text-align: left; } }
  .navbar .top-nav {
    display: none; }
    @media (min-width: 992px) {
      .navbar .top-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .navbar .top-nav .cta {
      margin-left: 2rem; }
  .navbar.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; }
  .navbar.condensed > .content {
    height: 70px; }
  .navbar[class*='-theme'] {
    box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.15); }
  .navbar.pink-theme {
    background-color: rgba(255, 64, 97, 0.85); }
  input.mobile-nav-toggle:checked ~ .navbar .nav-burger .line-1 {
    -webkit-transform: translateY(7px) rotate(45deg) scaleX(1.2);
            transform: translateY(7px) rotate(45deg) scaleX(1.2); }
  input.mobile-nav-toggle:checked ~ .navbar .nav-burger .line-2 {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0; }
  input.mobile-nav-toggle:checked ~ .navbar .nav-burger .line-3 {
    -webkit-transform: translateY(-7px) rotate(-45deg) scaleX(1.2);
            transform: translateY(-7px) rotate(-45deg) scaleX(1.2); }
  input.mobile-nav-toggle:checked ~ .navbar .mobile-nav {
    pointer-events: auto; }
    input.mobile-nav-toggle:checked ~ .navbar .mobile-nav::before {
      opacity: 0.8; }
    input.mobile-nav-toggle:checked ~ .navbar .mobile-nav .nav-link {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1; }

input.mobile-nav-toggle:checked ~ .page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-filter: blur(5px);
          filter: blur(5px); }

.hero.page-section {
  position: relative;
  min-height: 300px; }

.hero .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  z-index: -1; }
  .hero .background .gradient {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    background-image: radial-gradient(ellipse at center, rgba(255, 45, 110, 0.5) 0%, rgba(255, 45, 110, 0.9) 50%, rgba(255, 139, 45, 0.95) 100%);
    width: 200vw;
    height: 200vh;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.hero .content {
  color: #FFF;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  .hero .content {
    padding-top: 120px; }
    @media screen and (min-width: 300px) {
      .hero .content {
        padding-top: calc(120px + 200 * ((100vw - 300px) / 692)); } }
    @media screen and (min-width: 992px) {
      .hero .content {
        padding-top: 320px; } }
  .hero .content {
    padding-bottom: 50px; }
    @media screen and (min-width: 300px) {
      .hero .content {
        padding-bottom: calc(50px + 80 * ((100vw - 300px) / 692)); } }
    @media screen and (min-width: 992px) {
      .hero .content {
        padding-bottom: 130px; } }
  @media (min-width: 768px) {
    .hero .content {
      text-align: left; } }

.hero .title {
  -webkit-animation: slide-down .6s ease-in-out;
          animation: slide-down .6s ease-in-out; }

.hero .description {
  margin: 1.8rem 0 0;
  padding: 0 30px;
  -webkit-animation: fade-in-staggered 1s ease-in-out;
          animation: fade-in-staggered 1s ease-in-out; }
  @media (min-width: 544px) {
    .hero .description {
      padding: 0; } }

.hero .cta {
  margin-top: 2.4rem;
  -webkit-animation: slide-down-staggered 1.4s ease-in-out;
          animation: slide-down-staggered 1.4s ease-in-out; }

.page-section:not(.hero) .content {
  padding-top: 50px; }
  @media screen and (min-width: 300px) {
    .page-section:not(.hero) .content {
      padding-top: calc(50px + 70 * ((100vw - 300px) / 692)); } }
  @media screen and (min-width: 992px) {
    .page-section:not(.hero) .content {
      padding-top: 120px; } }

.page-section:not(.hero) .content {
  padding-bottom: 50px; }
  @media screen and (min-width: 300px) {
    .page-section:not(.hero) .content {
      padding-bottom: calc(50px + 70 * ((100vw - 300px) / 692)); } }
  @media screen and (min-width: 992px) {
    .page-section:not(.hero) .content {
      padding-bottom: 120px; } }

.how-it-works {
  background-color: #F4F4F4; }

.how-it-works .steps.padded {
  padding-left: 0px; }
  @media screen and (min-width: 768px) {
    .how-it-works .steps.padded {
      padding-left: calc(0px + 100 * ((100vw - 768px) / 224)); } }
  @media screen and (min-width: 992px) {
    .how-it-works .steps.padded {
      padding-left: 100px; } }

.how-it-works .steps.padded {
  padding-right: 0px; }
  @media screen and (min-width: 768px) {
    .how-it-works .steps.padded {
      padding-right: calc(0px + 100 * ((100vw - 768px) / 224)); } }
  @media screen and (min-width: 992px) {
    .how-it-works .steps.padded {
      padding-right: 100px; } }
