
// COLORS:
// ===================================================================================
$color-white: #FFF;
$color-brand-fuchsia: #FF2D6E;
$color-brand-orange: #FF8B2D;
$color-brand-teal: #03BF94;


// EFFECTS:
// ===================================================================================


// FONTS:
// ===================================================================================


// LAYOUT:
// ===================================================================================
$navbar-height-normal