// -------------------------------------------------------------------------
// Container component
// -------------------------------------------------------------------------

.lgp-container {
  margin: 0 auto;
  @include fluid-prop(width, -30px, 1200px, $grid-breakpoint-xxs, $grid-breakpoint-xxl);
}


// -------------------------------------------------------------------------
// Grid component (for homogeneous items)
// -------------------------------------------------------------------------

.lgp-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  &.with-gutter {
    @include fluid-prop(margin, -($grid-gutter-min / 2), -($grid-gutter-max / 2));
  }
}
.lgp-grid > .grid-item {
  flex: 1 1 auto;
  width: 100%;
}
.lgp-grid.with-gutter > .grid-item {
  @include fluid-prop(padding, ($grid-gutter-min / 2), ($grid-gutter-max / 2));
}
@each $breakpoint in map-keys($grid-breakpoint-aliases) {
  @media (min-width: $breakpoint) {
    @for $columns from 1 through $grid-columns {
      .lgp-grid.#{map_get($grid-breakpoint-aliases, $breakpoint)}-columns-#{$columns} > .grid-item {
          max-width: calc(100% / #{$columns});
      }
    }
  }
}


// -------------------------------------------------------------------------
// Profile photos
// -------------------------------------------------------------------------

.profile-photo {
  position: relative;
  border: 1px solid $color-white;
  border-radius: 50%;
  overflow: hidden;

  &.shadow {
    box-shadow: $image-box-shadow;
  }

  .photo, .avatar {
    @include position(absolute, 0 0 null null);
    width: 100%;
    height: 100%;
  }
  .photo {
    background-size: cover;
    background-position: center center;
  }
  .avatar {
    fill: $color-brand-grey-light;
    background-color: rgba($color-white, .5);
  }
}


// -------------------------------------------------------------------------
// Password strength widget
// -------------------------------------------------------------------------

.password-strength {
  margin-top: 10px;

  .caption {
    margin-right: 10px;
  }
  .widget {
    display: inline-block;
    position: relative;
    width: 100px;
    margin-bottom: 1px;

    .track, .indicator {
      @include position(absolute, 0);
      height: 2px;
    }
    .track {
      width: 100%;
      background-color: $color-brand-grey-light;
    }
    .indicator {
      background-color: $color-brand-fuchsia;
    }
  }

}


// -------------------------------------------------------------------------
// Password strength widget
// -------------------------------------------------------------------------

.divider {
    display: flex !important;
    align-items: center;

    &::before, &::after {
      flex: 1 1 auto;
      content: ' ';
      display: block;
    }
    .caption {
      flex: 0 0 auto;
    }

    &.vertical {
      flex-direction: column;
      height: 100%;

      &::before, &::after {
        border-left: 1px solid rgba($color-brand-grey-dark, .3);
      }
      .caption {
        font-family: $font-family-button;
        font-size: .7rem;
        font-weight: 500;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        margin: 10px 0;
      }
    }
    &.horizontal {
      width: 100%;
      &::before, &::after {
        border-top: 1px solid rgba($color-brand-grey-dark, .3);
      }
      .caption {
        margin: 0 10px;
      }
    }
  }

