.lgp-form {

  .form-group {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }

  .form-control {
    appearance: none;
    outline: none;
    font-family: $font-family-input;
    font-size: 1em;
    font-weight: 300;
    height: $form-control-size-normal;
    padding: 0 ($form-control-size-normal / 3);
    border: 1px solid $color-brand-grey-light;
    border-radius: $component-border-radius;
    background-color: $color-white;
    color: $color-brand-blue;
    opacity: .5;
    transition: $component-hover-fx-duration;
  
    &:focus {
      opacity: 1;
      box-shadow: none;
    }
  }

  label {
    color: $color-brand-blue;
    font-family: $font-family-input;
    margin-bottom: 10px;

    &.form-label-caps {
      font-size: .7rem;
      font-weight: 500;
      letter-spacing: 0.075rem;
      text-transform: uppercase;
    }
  
    .extra {
      display: inline-block;
      color: $color-brand-grey-dark;
      margin-left: 10px;
    }
  }

  .select-wrapper {
    position: relative;
  
    &::after {
      content: '';
      width: $caret-size;
      height: $caret-size;
      border: $caret-size solid $color-brand-blue;
      border-left-color: transparent;
      border-top-color: transparent;
      box-sizing: border-box;
      transform-origin: center center;
      transform: translateY(-75%) rotate(45deg);
      pointer-events: none;
      @include position(absolute, 50% ($caret-size * 6) null null);
    }
    select {
      width: 100%;
      padding: 0 $form-control-size-normal 0 ($form-control-size-normal / 2);
    }
  }

  .form-header {
    font-weight: 300;
    margin-bottom: 4rem;
  }
  

  // form control sizing
  
  $form-control-size-map: (
    sm: ($form-control-size-sm, .8rem),
    md: ($form-control-size-md, 1rem),
    lg: ($form-control-size-lg, 1rem),
    xl: ($form-control-size-xl, 1.2rem)
  );
  @each $size-name, $size-values in $form-control-size-map {
    $form-control-size: nth($size-values, 1);
    $font-size: nth($size-values, 2);
    
    .form-control.form-control-#{$size-name} {
      height: $form-control-size;
      padding: 0 ($form-control-size / 3);
      font-size: $font-size;
    }
    select.form-control.form-control-#{$size-name} {
      height: $form-control-size;
      padding: 0 $form-control-size 0 ($form-control-size / 3);
      font-size: $font-size;
    }
    textarea.form-control.form-control-#{$size-name} {
      height: unset;
      padding: ($form-control-size / 3);
      font-size: $font-size;
    }
  }


}
