.bg-fixed {
  background-attachment: fixed;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-center {
  background-position: center center;
}
.bg-center-right {
  background-position: center right;
}

.hidden {
  display: none;
}

.preamble {
  margin-right: .5em;
}

.flipped-h {
  transform-origin: center center;
  transform: scaleX(-1);
}

.flipped-v {
  transform-origin: center center;
  transform: scaleY(-1);
}

.flexer {
  > :not(.flexed) {
    flex: 0 0 auto;
  }
  > .flexed {
    flex: 1 1 auto;
  }
}

.pos-center {
  @include position(absolute, 50% null null 50%);
  transform: translate(-50%, -50%);
}