.bg-fixed {
  background-attachment: fixed;
}
.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center center;
}

.hidden {
  display: none;
}

.preamble {
  margin-right: .5em;
}

.flipped-h {
  transform-origin: center center;
  transform: scaleX(-1);
}

.flipped-v {
  transform-origin: center center;
  transform: scaleY(-1);
}