.hero {
  position: relative;
  min-height: 300px;
}

.hero .background {
  @include position(absolute, 0 0 0 0);
  background-image: url('#{$path-to-images}/hero.png');
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  z-index: -1;

  .gradient {
    @include position(absolute, 50% 0 0 50%);
    background-image: radial-gradient( ellipse at center,
                    rgba($color-brand-fuchsia,.5) 0%,
                    rgba($color-brand-fuchsia,.9) 50%,
                    rgba($color-brand-orange,.95) 100%);
    width: 200vw;
    height: 200vh;
    transform: translate(-50%, -50%);
  }

}
.hero .content {
  @include fluid-prop(padding-top, 120px, 320px);
  @include fluid-prop(padding-bottom, 50px, 130px);
  color: $color-white;
  text-shadow: 0 0 30px rgba($color-black, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $grid-breakpoint-md) {
    text-align: left;
  }
}

.hero .description {
  margin: 1.8rem 0 0;
  padding: 0 30px;

  @media (min-width: $grid-breakpoint-sm) {
    padding: 0;
  }
}

.hero .cta {
  margin-top: 2.4rem ;
}

.how-it-works {
  height: 800px;
  background-color: $color-brand-ash;
}