// -------------------------------------------------------------------------
// Page layout
// -------------------------------------------------------------------------

.page {
  // overflow: auto;
  padding-top: $nav-header-height;
}

.notifications {
  position: relative;

  &.active::after {
    content: ' ';
    width: 10px;
    height: 10px;
    border: 2px solid $color-white;
    border-radius: 50%;
    background-color: $color-brand-fuchsia;
    @include position(absolute, 50% null null 50%);
    transform: translateY(-10px);
  }
}

.nav-item.dropdown {
  .dropdown-toggle {
    height: 100%;
    padding: 0;
    font-weight: 300;
  }
  .dropdown-toggle .caption {
    margin: 0 5px 0 10px;
  }
  .profile-photo {
    width: 40px;
    height: 40px;
    box-shadow: none;
  }
}