
* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  @include fluid-prop(font-size, $font-size-base-min, $font-size-base-max);
  font-family: $font-family-base;
  font-weight: 300;
  line-height: 1.5;
  color: $color-brand-grey;
  background-color: #113E52;
}
