.header-lg,
.header-md,
.header-sm {
  font-family: $font-family-header;
  line-height: 0.95;
  margin: 0;
}

.header-lg {
  @include fluid-prop(font-size, 26px, 70px);
  @include fluid-prop(letter-spacing, -0.5px, -3.6px);
}