// -------------------------------------------------------------------------
// Layout
// -------------------------------------------------------------------------

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 90%;

  @media (min-width: $grid-breakpoints-xxl) {
    max-width: 1200px;
  }
}


// -------------------------------------------------------------------------
// Headers
// -------------------------------------------------------------------------

*[class^="header-"], *[class*=" header-"]  {
  font-family: $font-family-header;
  line-height: 0.95;
  margin: 0;
}

.header-lg {
  font-size: 4.375rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
}


// -------------------------------------------------------------------------
// Effects
// -------------------------------------------------------------------------

.fixed-bg {
  background-attachment: fixed;
}
