// -------------------------------------------------------------------------
// Paths
// -------------------------------------------------------------------------

$path-to-images: '../img';
$path-to-fonts: '../fonts';


// -------------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------------

$color-white: #FFF;
$color-brand-fuchsia: #FF2D6E;
$color-brand-orange: #FF8B2D;
$color-brand-green: #03BF94;
$color-brand-blue: #113E52;


// -------------------------------------------------------------------------
// Typography
// -------------------------------------------------------------------------

$font-family-base: 'Open Sans', sans-serif;
$font-family-header: 'Brandon Grotesque', sans-serif;
$font-family-button: 'Brandon Grotesque', sans-serif;

$font-size-base-min: 12px;
$font-size-base-max: 15px;


// -------------------------------------------------------------------------
// Layout
// -------------------------------------------------------------------------

$grid-breakpoints-xs: 0; // Extra small screen / phone
$grid-breakpoints-sm: 544px; // Small screen / phone
$grid-breakpoints-md: 768px; // Medium screen / tablet
$grid-breakpoints-lg: 992px; // Large screen / desktop
$grid-breakpoints-xl: 1200px; // Extra large screen / wide desktop
$grid-breakpoints-xxl: 1370px // Extra Extra large screen / wide desktop