// -------------------------------------------------------------------------
// Paths
// -------------------------------------------------------------------------

$path-to-images: '../img';
$path-to-fonts: '../fonts';


// -------------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------------

$color-white: #FFF;
$color-black: #000;
$color-brand-fuchsia: #FF2D6E;
$color-brand-orange: #FF8B2D;
$color-brand-green: #03BF94;
$color-brand-blue: #113E52;
$color-brand-ash: #F4F4F4;
$color-brand-grey: #A4A4A4;


// -------------------------------------------------------------------------
// Typography
// -------------------------------------------------------------------------

$font-family-base: 'Open Sans', sans-serif;
$font-family-header: 'Brandon Grotesque', sans-serif;
$font-family-button: 'Brandon Grotesque', sans-serif;

$font-size-base-min: 12px;
$font-size-base-max: 15px;


// -------------------------------------------------------------------------
// Layout
// -------------------------------------------------------------------------

$grid-breakpoint-xxs: 0px; // Extra extra small screen / phone
$grid-breakpoint-xs: 300px; // Extra small screen / phone
$grid-breakpoint-sm: 544px; // Small screen / phone
$grid-breakpoint-md: 768px; // Medium screen / tablet
$grid-breakpoint-lg: 992px; // Large screen / desktop
$grid-breakpoint-xl: 1200px; // Extra large screen / wide desktop
$grid-breakpoint-xxl: 1370px; // Extra Extra large screen / wide desktop

$grid-breakpoint-aliases: (
  $grid-breakpoint-xxs: xxs,
  $grid-breakpoint-xs: xs,
  $grid-breakpoint-sm: sm,
  $grid-breakpoint-md: md,
  $grid-breakpoint-lg: lg,
  $grid-breakpoint-xl: xl,
  $grid-breakpoint-xxl: xxl
);

$fluid-grid-item-layouts: (
  (breakpoint: $grid-breakpoint-xxl, columns: 1, gutter: 50px),
  (breakpoint: $grid-breakpoint-xxl, columns: 2, gutter: 50px),
  (breakpoint: $grid-breakpoint-xxl, columns: 3, gutter: 50px),
  (breakpoint: $grid-breakpoint-xxl, columns: 4, gutter: 50px),
  (breakpoint: $grid-breakpoint-xxl, columns: 5, gutter: 50px),
  (breakpoint: $grid-breakpoint-lg, columns: 1, gutter: 50px),
  (breakpoint: $grid-breakpoint-lg, columns: 2, gutter: 50px),
  (breakpoint: $grid-breakpoint-lg, columns: 3, gutter: 50px),
  (breakpoint: $grid-breakpoint-lg, columns: 4, gutter: 50px),
  (breakpoint: $grid-breakpoint-lg, columns: 5, gutter: 50px),
  (breakpoint: $grid-breakpoint-md, columns: 1, gutter: 50px),
  (breakpoint: $grid-breakpoint-md, columns: 2, gutter: 50px),
  (breakpoint: $grid-breakpoint-md, columns: 3, gutter: 30px),
  (breakpoint: $grid-breakpoint-md, columns: 4, gutter: 50px),
  (breakpoint: $grid-breakpoint-md, columns: 5, gutter: 50px),
  (breakpoint: $grid-breakpoint-sm, columns: 1, gutter: 50px),
  (breakpoint: $grid-breakpoint-sm, columns: 2, gutter: 50px),
  (breakpoint: $grid-breakpoint-sm, columns: 3, gutter: 20px),
  (breakpoint: $grid-breakpoint-sm, columns: 4, gutter: 50px),
  (breakpoint: $grid-breakpoint-sm, columns: 5, gutter: 50px),
  (breakpoint: $grid-breakpoint-xs, columns: 1, gutter: 50px),
  (breakpoint: $grid-breakpoint-xs, columns: 2, gutter: 50px),
  (breakpoint: $grid-breakpoint-xs, columns: 3, gutter: 20px),
  (breakpoint: $grid-breakpoint-xs, columns: 4, gutter: 50px),
  (breakpoint: $grid-breakpoint-xs, columns: 5, gutter: 50px),
);


// -------------------------------------------------------------------------
// Misc
// -------------------------------------------------------------------------

$navbar-navs-toggle-duration: .4s;
$navbar-theme-change-duration: .4s;
$component-hover-fx-duration: .3s;
$component-border-radius: 5px;

$button-size-normal: 40px;
$button-size-md: 50px;
$button-size-lg: 60px;

$overlay-blur-radius: 5px;
$overlay-opacity: .8;
