// -------------------------------------------------------------------------
// Page
// -------------------------------------------------------------------------

.borrow1.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}

// -------------------------------------------------------------------------
// borrow-start section
// -------------------------------------------------------------------------

.borrow-start {
  position: relative;
  font-family: $font-family-header;

  .icon {
    width: 130px;
    height: 130px;
    padding: 35px;
    border-radius: 50%;
    background-color: $color-brand-ash;
    fill: $color-brand-grey-light;
  }
  .cta {
    margin-top: 35px;
  }
  .caption {
    margin-top: 25px; 
  }
}