// -------------------------------------------------------------------------
// Page
// -------------------------------------------------------------------------

.lend3.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}

// -------------------------------------------------------------------------
// lend-start section
// -------------------------------------------------------------------------

.lend-end {
  position: relative;
  font-family: $font-family-header;

  .icon {
    width: 60px;
    height: 60px;
    fill: $color-brand-blue-turquoise;
  }
  .cta {
    margin-top: 20px;
  }
  .caption {
    margin-top: 25px; 
  }
}