// -------------------------------------------------------------------------
// Page
// -------------------------------------------------------------------------

.loan-details.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// -------------------------------------------------------------------------
// Loan details section
// -------------------------------------------------------------------------

.loan-details.page-section {
  background-color: $color-brand-peach;

  font-family: $font-family-card;
  font-size: 1em;

  .content {
    padding: 30px;
  }
  .content.section-header {
    margin-bottom: 1.8rem;
    color: $color-brand-grey-dark;
  }
  .details {
    position: relative;
    width: 100%;
  }
  .title {
    color: $color-brand-blue;
    margin-bottom: .2rem;
  }
  .detail {
      margin-top: .1rem;

    &.separate {
      @include fluid-prop(margin-top, 20px, 35px);
    }
    &.separate-more {
      @include fluid-prop(margin-top, 35px, 70px);
    }
  }

  .divider {
    &.vertical {
      height: 70px;
    }
    &.horizaontal {
      width: 100%;
    }
  }

  .profile-photo {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;

    .avatar {
      fill: $color-white;
      background-color: transparent;
    }
  }

  .profile-details {
    margin-left: 30px;
  }

  .profile-name {
    margin-top: 5px;
  }

  .rating {
    display: flex;
    margin-top: 10px;    

    .icon {
      fill: $color-brand-grey-light;
      width: $component-icon-size-sm;
      height: $component-icon-size-sm;

      &:not(:first-child) {
        @include fluid-prop(margin-left, 2px, 5px, $grid-breakpoint-md);
      }
    }
    @for $i from 1 through 5 {
      &.stars-#{$i} .icon:nth-child(-n + #{$i}) {
        fill: $color-brand-blue;
      }
    }
  }
}


// -------------------------------------------------------------------------
// chat section
// -------------------------------------------------------------------------

.chat {
  position: relative;
  background-color: $color-brand-ash;

  .thread {
    position: relative;
    width: 100%;
    padding: 40px 0 100px;
    overflow: auto;
  }
  .empty-placeholder {
    font-family: $font-family-header;

    .icon {
      width: 50px;
      height: 50px;
      fill: $color-brand-grey-light;
    } 
    .caption {
      margin-top: 20px; 
    }
  }
  .message-bar {
    @include position(absolute, null 0 30px 0);

    .lgp-container {
      position: relative;
    }
    .icon {
      width: 22px !important;
      height: 22px !important;
    }
  }
  .input-field {
    margin: 0;
  }
  .input-field-actions {
    @include position(absolute, null 0 null null);
  }
}